/* make room for top fixed element */
@media (max-width: 890px){
	.cpanel button {
		margin: 15px;
	}
	body {
		margin-top: 140px;
	}
	.cpanel {
		height: 170px;
	}
}

@media (max-width: 750px){
	footer{
		height: 50px;
	}
}


@media (max-width: 542px){
	body {
		margin-top: 220px;
	}
	.cpanel {
		height: 170px;
	}
	.cpanel button {
		font-size: 14px;
	}
}

@media (max-width: 390px){
	body {
		margin-top: 220px;
	}
	.cpanel {
		height: 240px;
	}
}