/* make room for top fixed element */
@media (max-width: 890px){
	.cpanel button {
		margin: 15px;
	}
	body {
		margin-top: 140px;
	}
	.cpanel {
		height: 170px;
	}
}

@media (max-width: 750px){
	footer{
		height: 50px;
	}
}


@media (max-width: 550px){
		body {
		margin-top: 35px;
	}
	.hamburger{
		display: block;
		
	}
	.cpanel {
    width: 150px;
    height: 360px;
    top: 70px;
    left: 0;
    background-color: rgba(255,255,255,0);
	}


	.cpanel button {
		margin: 10px;
    width: 120px;
    
		font-size: 12px;
	}
}

